/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(base.png);
    height: 556px;
    width: 703px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(disconnected.png);    
    height: 555px;
    width: 698px
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    width: 530.8px;
    height: 83px;
    position: absolute;
    left: 86px;
}

.ds4 .trigger {
    width: 97px;
    height: 81px;
    background: url(triggers.png);
    opacity: 0;
}

.ds4 .trigger.left {
    left: 100px
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 98px;
}

.ds4 .bumper {
    width: 103px;
    height: 39px;
    background: url(bumper.png) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 549px;
    height: 20px;
    left: 77px;
    top: 89.8px;
}

.ds4 .bumper.pressed {
    opacity: 1;  
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
    transform: rotateY(180deg);
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(9deg);
    left: 9px 
}

.ds4 .touchpad {
    width: 285px;
    height: 153px;
    position: absolute;
    left: 208.5px;
    top: 99px;
}

.ds4 .touchpad.pressed {
    background: url(touchpad.png) no-repeat center;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.ds4 .meta.pressed {
    background: url(ps4-assets/meta.svgz) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svgz);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 349px;
    height: 48px;
    top: 133px;
    left: 177px;
}

.ds4 .back, .ds4 .start {
    background: url(start.png);
    width: 20px;
    height: 35px;
    opacity: 0;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    float: left;
    transform: rotateY(180deg);
    /* width: 2px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 40px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 188px;
    top: 144px;
    left: 512px;
}

.ds4 .button {
    position: absolute;
    width: 50px;
    height: 55px;
    background: url(face.png);
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: -0px -px;
    bottom: 26px;
    left: 34px;
}

.ds4 .b {
    background-position: -50px 0;
    top: 55px;
    right: 35px;
}

.ds4 .x {
    background-position: -100px 0;
    top: 56.4px;
    left: -17.3px
}

.ds4 .y {
    background-position: 50px 0px;
    left: 33px;
    bottom: 128px
}

.ds4 .sticks {
    position: absolute;
    width: 351px;
    height: 109px;
    top: 267px;
    left: 171px;
}

.ds4 .stick {
    position: absolute;
    background: url(sticks.png);
    height: 89px;
    width: 90px;
}

.ds4 .stick.pressed.left {
    background-position-x: -97px;
}

.ds4 .stick.pressed.right {
    background-position-x: -193px;
}

.ds4 .stick.left {
    top: 4px;
    left: 21px;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 137.3px;
    height: 128px;
    top: 161.7px;
    left: 67px;
}

.ds4 .face {
    background: url(dpad.png);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 50px;
    height: 56px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 59px;
    height: 55px;
}

.ds4 .face.up {
    left: 41.4px;
    top: 3.5px;
    background-position: -48px 0px;
}

.ds4 .face.down {
    left: 43.2px;
    bottom: 1.2px;
    background-position: 0px 0px;
}

.ds4 .face.left {
    top: 36.5px;
    left: 1.8px;
    background-position: 114px 0px;
}

.ds4 .face.right {
    top: 37px;
    right: 12px;
    background-position: 59px 0px;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 56.2px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/