/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(base.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(base.gif);
}

.xbox.disconnected {
    background: url(disconnected.png);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 448px;
    height: 121px;
    position: absolute;
    left: 151px;
}

.xbox .trigger {
    width: 91px;
    height: 122px;
    background: url(trigger.png);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 170px;
    height: 63px;
    background: url(bumper.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 537px;
    height: 60px;
    left: 107px;
    top: 129px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url();
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 145px;
    height: 33px;
    top: 263px;
    left: 304px;
}

.xbox .back, .xbox .start {
    background: url(start-select.png);
    width: 38px;
    height: 39px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 37px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 157px;
    height: 150px;
    top: 191px;
    left: 487px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 53px;
    height: 55px;
}

.xbox .button.pressed {
    background-position-y: 56px;
    background-position-x: 0px;
    margin-top: 5px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 102px;
    left: 55.5px;
}

.xbox .b {
    background-position: 55px 0;
    top: 51px;
    right: -2px;
}

.xbox .x {
    background-position: -98px 0;
    top: 51px;
    left: 5px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55.5px;
    top: 1px;
}

.xbox .sticks {
    position: absolute;
    width: 370px;
    height: 196px;
    top: 239px;
    left: 142px;
}

.xbox .stick {
    position: absolute;
    background: url(stick.png);
    background-position: -84px 0;
    height: 84px;
    width: 86px;
}

.xbox .stick.pressed {
    background-position: 1px 0;
}

.xbox .stick.left {
    top: 3px;
    left: -1px;
}

.xbox .stick.right {
    top: 117px;
    left: 286px;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 217px;
}

.xbox .face {
    background: url(dpad.png);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 34px 0;
    left: 44.5px;
    top: px;
    width: 34px;
    height: 60px;
}

.xbox .face.down {
    left: 42.5px;
    bottom: -4px;
    width: 34px;
    height: 60px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 63px;
    height: 38px;
    top: 38px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -60px;
    width: 63px;
    height: 38px;
    top: 41px;
    right: -8px;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/